<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' id='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='<%= htmlWebpackPlugin.options.baseIconURL %>/favicon.ico' />
    <style>
      .load-spinner {
        opacity: .5; 
        position: fixed; 
        width: 100%; 
        height: 100%; 
        top: 0; 
        left: 0; 
        z-index: 999;
        background: url('<%= htmlWebpackPlugin.options.baseIconURL %>/load.gif') center center no-repeat;
        transition: opacity .5s ease-in-out, visibility .5s; 
      }
    </style>
    <script>
      window.cranyons = {
        domains: <%= htmlWebpackPlugin.options.domains %>,
        cache: []
      };
      window.cranyons.domain = window.innerWidth > 700 
        ? window.cranyons.domains.MAIN 
        : window.cranyons.domains.MOBILE;
      window.cranyons.cache.push(new Image());
      window.cranyons.cache.push(new Image());
      window.cranyons.name = window.location.pathname.split('/')[1];
      window.cranyons.cache[0].src = window.cranyons.name
        ? window.cranyons.domain + window.cranyons.name.toLowerCase() + '.jpg'
        : window.cranyons.domain + '<%= htmlWebpackPlugin.options.initialCranyonPath %>';
      window.cranyons.cache[0].onload = function() {
        var initialCranyon = document.getElementById('initial-cranyon');
        var initialCranyonURL = 'url(' + window.cranyons.cache[0].src + ')';
        initialCranyon.style.backgroundImage =  initialCranyonURL + ', ' + initialCranyonURL;
      };
      window.cranyons.cache[1].src = '<%= htmlWebpackPlugin.options.baseIconURL %>/menu4.svg';
    </script>
    <title></title>
  </head>
  <body>
    <div class='load-spinner'></div>
    <div class='pic-container animate-show'> 
      <section id='initial-cranyon' class='cranyon initial-disappear'></section>
    </div>
    <app></app>
  </body>
</html>